.tetris-field {
  position: relative;
  width: calc(15px * 12);
  height: calc(15px * 24);
  background-color: #ccc;
  &-left-wall {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(15px * 24);
    width: 15px;
    background-color: rosybrown;
  }
  &-right-wall {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(15px * 24);
    width: 15px;
    background-color: rosybrown;
  }
  &-ground {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15px;
    width: calc(15px * 12);
    background-color: rosybrown;
  }
}
