.tetris-block {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  box-shadow: 0 0 1px 2px #eee inset;
  border-radius: 2px; }
  .tetris-block-light-blue-0-1, .tetris-block-light-blue-2-1 {
    bottom: 0;
    left: 0;
    background-color: #01f1f0;
    box-shadow: 0 0 1px 2px #00d8d9 inset; }
  .tetris-block-light-blue-0-2, .tetris-block-light-blue-2-2 {
    bottom: 15px;
    left: 0;
    background-color: #01f1f0;
    box-shadow: 0 0 1px 2px #00d8d9 inset; }
  .tetris-block-light-blue-0-3, .tetris-block-light-blue-2-3 {
    bottom: 30px;
    left: 0;
    background-color: #01f1f0;
    box-shadow: 0 0 1px 2px #00d8d9 inset; }
  .tetris-block-light-blue-0-4, .tetris-block-light-blue-2-4 {
    bottom: 45px;
    left: 0;
    background-color: #01f1f0;
    box-shadow: 0 0 1px 2px #00d8d9 inset; }
  .tetris-block-light-blue-1-1, .tetris-block-light-blue-3-1 {
    bottom: 15px;
    left: 0;
    background-color: #01f1f0;
    box-shadow: 0 0 1px 2px #00d8d9 inset; }
  .tetris-block-light-blue-1-2, .tetris-block-light-blue-3-2 {
    bottom: 15px;
    left: 15px;
    background-color: #01f1f0;
    box-shadow: 0 0 1px 2px #00d8d9 inset; }
  .tetris-block-light-blue-1-3, .tetris-block-light-blue-3-3 {
    bottom: 15px;
    left: 30px;
    background-color: #01f1f0;
    box-shadow: 0 0 1px 2px #00d8d9 inset; }
  .tetris-block-light-blue-1-4, .tetris-block-light-blue-3-4 {
    bottom: 15px;
    left: 45px;
    background-color: #01f1f0;
    box-shadow: 0 0 1px 2px #00d8d9 inset; }
  .tetris-block-yellow-0-1, .tetris-block-yellow-1-1, .tetris-block-yellow-2-1, .tetris-block-yellow-3-1 {
    bottom: 0;
    left: 0;
    background-color: #f1f003;
    box-shadow: 0 0 1px 2px #d1d30c inset; }
  .tetris-block-yellow-0-2, .tetris-block-yellow-1-2, .tetris-block-yellow-2-2, .tetris-block-yellow-3-2 {
    bottom: 15px;
    left: 0;
    background-color: #f1f003;
    box-shadow: 0 0 1px 2px #d1d30c inset; }
  .tetris-block-yellow-0-3, .tetris-block-yellow-1-3, .tetris-block-yellow-2-3, .tetris-block-yellow-3-3 {
    bottom: 0;
    left: 15px;
    background-color: #f1f003;
    box-shadow: 0 0 1px 2px #d1d30c inset; }
  .tetris-block-yellow-0-4, .tetris-block-yellow-1-4, .tetris-block-yellow-2-4, .tetris-block-yellow-3-4 {
    bottom: 15px;
    left: 15px;
    background-color: #f1f003;
    box-shadow: 0 0 1px 2px #d1d30c inset; }
  .tetris-block-purple-0-1 {
    bottom: 30px;
    left: 15px;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-0-2 {
    bottom: 15px;
    left: 0;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-0-3 {
    bottom: 15px;
    left: 15px;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-0-4 {
    bottom: 15px;
    left: 30px;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-1-1 {
    bottom: 15px;
    left: 0;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-1-2 {
    bottom: 0;
    left: 15px;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-1-3 {
    bottom: 15px;
    left: 15px;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-1-4 {
    bottom: 30px;
    left: 15px;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-2-1 {
    bottom: 15px;
    left: 15px;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-2-2 {
    bottom: 30px;
    left: 0;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-2-3 {
    bottom: 30px;
    left: 15px;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-2-4 {
    bottom: 30px;
    left: 30px;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-3-1 {
    bottom: 15px;
    left: 15px;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-3-2 {
    bottom: 0;
    left: 0;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-3-3 {
    bottom: 15px;
    left: 0;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-purple-3-4 {
    bottom: 30px;
    left: 0;
    background-color: #9e01f2;
    box-shadow: 0 0 1px 2px #8f01db inset; }
  .tetris-block-blue-0-1 {
    bottom: 30px;
    left: 0;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-0-2 {
    bottom: 15px;
    left: 0;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-0-3 {
    bottom: 15px;
    left: 15px;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-0-4 {
    bottom: 15px;
    left: 30px;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-1-1 {
    bottom: 30px;
    left: 15px;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-1-2 {
    bottom: 0;
    left: 0;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-1-3 {
    bottom: 15px;
    left: 0;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-1-4 {
    bottom: 30px;
    left: 0;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-2-1 {
    bottom: 15px;
    left: 30px;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-2-2 {
    bottom: 30px;
    left: 30px;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-2-3 {
    bottom: 30px;
    left: 15px;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-2-4 {
    bottom: 30px;
    left: 0;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-3-1 {
    bottom: 0;
    left: 0;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-3-2 {
    bottom: 30px;
    left: 15px;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-3-3 {
    bottom: 15px;
    left: 15px;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-blue-3-4 {
    bottom: 0;
    left: 15px;
    background-color: #0000f0;
    box-shadow: 0 0 1px 2px #0001d9 inset; }
  .tetris-block-orange-0-1 {
    bottom: 30px;
    left: 30px;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-0-2 {
    bottom: 15px;
    left: 0;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-0-3 {
    bottom: 15px;
    left: 15px;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-0-4 {
    bottom: 15px;
    left: 30px;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-1-1 {
    bottom: 0;
    left: 15px;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-1-2 {
    bottom: 0;
    left: 0;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-1-3 {
    bottom: 15px;
    left: 0;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-1-4 {
    bottom: 30px;
    left: 0;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-2-1 {
    bottom: 15px;
    left: 0;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-2-2 {
    bottom: 30px;
    left: 30px;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-2-3 {
    bottom: 30px;
    left: 15px;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-2-4 {
    bottom: 30px;
    left: 0;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-3-1 {
    bottom: 30px;
    left: 0;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-3-2 {
    bottom: 30px;
    left: 15px;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-3-3 {
    bottom: 15px;
    left: 15px;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-orange-3-4 {
    bottom: 0;
    left: 15px;
    background-color: #eda005;
    box-shadow: 0 0 1px 2px #e19502 inset; }
  .tetris-block-green-0-1, .tetris-block-green-2-1 {
    bottom: 15px;
    left: 30px;
    background-color: #01f000;
    box-shadow: 0 0 1px 2px #00d801 inset; }
  .tetris-block-green-0-2, .tetris-block-green-2-2 {
    bottom: 15px;
    left: 15px;
    background-color: #01f000;
    box-shadow: 0 0 1px 2px #00d801 inset; }
  .tetris-block-green-0-3, .tetris-block-green-2-3 {
    bottom: 0;
    left: 15px;
    background-color: #01f000;
    box-shadow: 0 0 1px 2px #00d801 inset; }
  .tetris-block-green-0-4, .tetris-block-green-2-4 {
    bottom: 0;
    left: 0;
    background-color: #01f000;
    box-shadow: 0 0 1px 2px #00d801 inset; }
  .tetris-block-green-1-1, .tetris-block-green-3-1 {
    bottom: 30px;
    left: 0;
    background-color: #01f000;
    box-shadow: 0 0 1px 2px #00d801 inset; }
  .tetris-block-green-1-2, .tetris-block-green-3-2 {
    bottom: 15px;
    left: 0;
    background-color: #01f000;
    box-shadow: 0 0 1px 2px #00d801 inset; }
  .tetris-block-green-1-3, .tetris-block-green-3-3 {
    bottom: 15px;
    left: 15px;
    background-color: #01f000;
    box-shadow: 0 0 1px 2px #00d801 inset; }
  .tetris-block-green-1-4, .tetris-block-green-3-4 {
    bottom: 0;
    left: 15px;
    background-color: #01f000;
    box-shadow: 0 0 1px 2px #00d801 inset; }
  .tetris-block-red-0-1, .tetris-block-red-2-1 {
    bottom: 0;
    left: 30px;
    background-color: #f20001;
    box-shadow: 0 0 1px 2px #db0100 inset; }
  .tetris-block-red-0-2, .tetris-block-red-2-2 {
    bottom: 15px;
    left: 15px;
    background-color: #f20001;
    box-shadow: 0 0 1px 2px #db0100 inset; }
  .tetris-block-red-0-3, .tetris-block-red-2-3 {
    bottom: 0;
    left: 15px;
    background-color: #f20001;
    box-shadow: 0 0 1px 2px #db0100 inset; }
  .tetris-block-red-0-4, .tetris-block-red-2-4 {
    bottom: 15px;
    left: 0;
    background-color: #f20001;
    box-shadow: 0 0 1px 2px #db0100 inset; }
  .tetris-block-red-1-1, .tetris-block-red-3-1 {
    bottom: 0;
    left: 0;
    background-color: #f20001;
    box-shadow: 0 0 1px 2px #db0100 inset; }
  .tetris-block-red-1-2, .tetris-block-red-3-2 {
    bottom: 15px;
    left: 0;
    background-color: #f20001;
    box-shadow: 0 0 1px 2px #db0100 inset; }
  .tetris-block-red-1-3, .tetris-block-red-3-3 {
    bottom: 15px;
    left: 15px;
    background-color: #f20001;
    box-shadow: 0 0 1px 2px #db0100 inset; }
  .tetris-block-red-1-4, .tetris-block-red-3-4 {
    bottom: 30px;
    left: 15px;
    background-color: #f20001;
    box-shadow: 0 0 1px 2px #db0100 inset; }
