.tetris-block {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  box-shadow: 0 0 1px 2px #eee inset;
  border-radius: 2px;
  &-light-blue {
    &-0,
    &-2 {
      &-1 {
        bottom: 0;
        left: 0;
        background-color: #01f1f0;
        box-shadow: 0 0 1px 2px #00d8d9 inset;
      }
      &-2 {
        bottom: 15px;
        left: 0;
        background-color: #01f1f0;
        box-shadow: 0 0 1px 2px #00d8d9 inset;
      }
      &-3 {
        bottom: 30px;
        left: 0;
        background-color: #01f1f0;
        box-shadow: 0 0 1px 2px #00d8d9 inset;
      }
      &-4 {
        bottom: 45px;
        left: 0;
        background-color: #01f1f0;
        box-shadow: 0 0 1px 2px #00d8d9 inset;
      }
    }
    &-1,
    &-3 {
      &-1 {
        bottom: 15px;
        left: 0;
        background-color: #01f1f0;
        box-shadow: 0 0 1px 2px #00d8d9 inset;
      }
      &-2 {
        bottom: 15px;
        left: 15px;
        background-color: #01f1f0;
        box-shadow: 0 0 1px 2px #00d8d9 inset;
      }
      &-3 {
        bottom: 15px;
        left: 30px;
        background-color: #01f1f0;
        box-shadow: 0 0 1px 2px #00d8d9 inset;
      }
      &-4 {
        bottom: 15px;
        left: 45px;
        background-color: #01f1f0;
        box-shadow: 0 0 1px 2px #00d8d9 inset;
      }
    }
  }
  &-yellow {
    &-0,
    &-1,
    &-2,
    &-3 {
      &-1 {
        bottom: 0;
        left: 0;
        background-color: #f1f003;
        box-shadow: 0 0 1px 2px #d1d30c inset;
      }
      &-2 {
        bottom: 15px;
        left: 0;
        background-color: #f1f003;
        box-shadow: 0 0 1px 2px #d1d30c inset;
      }
      &-3 {
        bottom: 0;
        left: 15px;
        background-color: #f1f003;
        box-shadow: 0 0 1px 2px #d1d30c inset;
      }
      &-4 {
        bottom: 15px;
        left: 15px;
        background-color: #f1f003;
        box-shadow: 0 0 1px 2px #d1d30c inset;
      }
    }
  }
  &-purple {
    &-0 {
      &-1 {
        bottom: 30px;
        left: 15px;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-2 {
        bottom: 15px;
        left: 0;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-3 {
        bottom: 15px;
        left: 15px;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-4 {
        bottom: 15px;
        left: 30px;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
    }
    &-1 {
      &-1 {
        bottom: 15px;
        left: 0;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-2 {
        bottom: 0;
        left: 15px;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-3 {
        bottom: 15px;
        left: 15px;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-4 {
        bottom: 30px;
        left: 15px;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
    }
    &-2 {
      &-1 {
        bottom: 15px;
        left: 15px;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-2 {
        bottom: 30px;
        left: 0;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-3 {
        bottom: 30px;
        left: 15px;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-4 {
        bottom: 30px;
        left: 30px;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
    }
    &-3 {
      &-1 {
        bottom: 15px;
        left: 15px;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-2 {
        bottom: 0;
        left: 0;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-3 {
        bottom: 15px;
        left: 0;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
      &-4 {
        bottom: 30px;
        left: 0;
        background-color: #9e01f2;
        box-shadow: 0 0 1px 2px #8f01db inset;
      }
    }
  }
  &-blue {
    &-0 {
      &-1 {
        bottom: 30px;
        left: 0;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-2 {
        bottom: 15px;
        left: 0;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-3 {
        bottom: 15px;
        left: 15px;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-4 {
        bottom: 15px;
        left: 30px;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
    }
    &-1 {
      &-1 {
        bottom: 30px;
        left: 15px;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-2 {
        bottom: 0;
        left: 0;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-3 {
        bottom: 15px;
        left: 0;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-4 {
        bottom: 30px;
        left: 0;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
    }
    &-2 {
      &-1 {
        bottom: 15px;
        left: 30px;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-2 {
        bottom: 30px;
        left: 30px;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-3 {
        bottom: 30px;
        left: 15px;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-4 {
        bottom: 30px;
        left: 0;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
    }
    &-3 {
      &-1 {
        bottom: 0;
        left: 0;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-2 {
        bottom: 30px;
        left: 15px;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-3 {
        bottom: 15px;
        left: 15px;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
      &-4 {
        bottom: 0;
        left: 15px;
        background-color: #0000f0;
        box-shadow: 0 0 1px 2px #0001d9 inset;
      }
    }
  }
  &-orange {
    &-0 {
      &-1 {
        bottom: 30px;
        left: 30px;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-2 {
        bottom: 15px;
        left: 0;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-3 {
        bottom: 15px;
        left: 15px;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-4 {
        bottom: 15px;
        left: 30px;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
    }
    &-1 {
      &-1 {
        bottom: 0;
        left: 15px;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-2 {
        bottom: 0;
        left: 0;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-3 {
        bottom: 15px;
        left: 0;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-4 {
        bottom: 30px;
        left: 0;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
    }
    &-2 {
      &-1 {
        bottom: 15px;
        left: 0;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-2 {
        bottom: 30px;
        left: 30px;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-3 {
        bottom: 30px;
        left: 15px;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-4 {
        bottom: 30px;
        left: 0;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
    }
    &-3 {
      &-1 {
        bottom: 30px;
        left: 0;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-2 {
        bottom: 30px;
        left: 15px;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-3 {
        bottom: 15px;
        left: 15px;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
      &-4 {
        bottom: 0;
        left: 15px;
        background-color: #eda005;
        box-shadow: 0 0 1px 2px #e19502 inset;
      }
    }
  }
  &-green {
    &-0,
    &-2 {
      &-1 {
        bottom: 15px;
        left: 30px;
        background-color: #01f000;
        box-shadow: 0 0 1px 2px #00d801 inset;
      }
      &-2 {
        bottom: 15px;
        left: 15px;
        background-color: #01f000;
        box-shadow: 0 0 1px 2px #00d801 inset;
      }
      &-3 {
        bottom: 0;
        left: 15px;
        background-color: #01f000;
        box-shadow: 0 0 1px 2px #00d801 inset;
      }
      &-4 {
        bottom: 0;
        left: 0;
        background-color: #01f000;
        box-shadow: 0 0 1px 2px #00d801 inset;
      }
    }
    &-1,
    &-3 {
      &-1 {
        bottom: 30px;
        left: 0;
        background-color: #01f000;
        box-shadow: 0 0 1px 2px #00d801 inset;
      }
      &-2 {
        bottom: 15px;
        left: 0;
        background-color: #01f000;
        box-shadow: 0 0 1px 2px #00d801 inset;
      }
      &-3 {
        bottom: 15px;
        left: 15px;
        background-color: #01f000;
        box-shadow: 0 0 1px 2px #00d801 inset;
      }
      &-4 {
        bottom: 0;
        left: 15px;
        background-color: #01f000;
        box-shadow: 0 0 1px 2px #00d801 inset;
      }
    }
  }
  &-red {
    &-0,
    &-2 {
      &-1 {
        bottom: 0;
        left: 30px;
        background-color: #f20001;
        box-shadow: 0 0 1px 2px #db0100 inset;
      }
      &-2 {
        bottom: 15px;
        left: 15px;
        background-color: #f20001;
        box-shadow: 0 0 1px 2px #db0100 inset;
      }
      &-3 {
        bottom: 0;
        left: 15px;
        background-color: #f20001;
        box-shadow: 0 0 1px 2px #db0100 inset;
      }
      &-4 {
        bottom: 15px;
        left: 0;
        background-color: #f20001;
        box-shadow: 0 0 1px 2px #db0100 inset;
      }
    }
    &-1,
    &-3 {
      &-1 {
        bottom: 0;
        left: 0;
        background-color: #f20001;
        box-shadow: 0 0 1px 2px #db0100 inset;
      }
      &-2 {
        bottom: 15px;
        left: 0;
        background-color: #f20001;
        box-shadow: 0 0 1px 2px #db0100 inset;
      }
      &-3 {
        bottom: 15px;
        left: 15px;
        background-color: #f20001;
        box-shadow: 0 0 1px 2px #db0100 inset;
      }
      &-4 {
        bottom: 30px;
        left: 15px;
        background-color: #f20001;
        box-shadow: 0 0 1px 2px #db0100 inset;
      }
    }
  }
}
